/*
Palette
#14D20A // light green
#084E04 // medium green
#010F01 // dark green
#F9AA35 // yellow
#140C01 // brown
*/

body {
  font-family: monospace;
  color: #14D20A;
  background-color: #021301;
  text-shadow: 0px 0px 2px rgba(10, 255, 10, .5);
}

#scanlines {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: linear-gradient(#021301 50%, #000 50%);
  background-size: 100% 4px;
  background-repeat: repeat-y;
  opacity: .1;
  box-shadow: inset 0  0 5em 3em #000;
  z-index: 1100;
}

.card {
  color: #F9AA35;
  background-color: #140C01;
  border-color: #F9AA35;
}
