/*
Palette
#14D20A // light green
#084E04 // medium green
#010F01 // dark green
#F9AA35 // yellow
#140C01 // brown
*/

/*
PREVIOUS
nav li:has(+ li a.active) a {}
NEXT
nav li:has(a.active) + li:has(a) a {}
*/

body:fullscreen .bi-fullscreen {
    display: none;
}

body:not(:fullscreen) .bi-fullscreen-exit {
    display: none;
}