:root {
  --slide: 0;
}

* {
  scroll-padding-top: 0 !important;
}

body {
  overflow: hidden;
  counter-reset: slide;
}

.slide {
  counter-increment: slide;
  height: 100%;
  position: absolute;
  top: calc(100% * var(--slide));
  left: 0;
  right: 0;
  overflow: auto;
}